table {
    border: 1px solid lightblue;
    border-radius: 3%;
    margin: auto;
}

td {
    border: 1px solid lightblue;
    border-radius: 10%;
}

th {
    border: 1px solid lightblue;
    border-radius: 10%;
}

img {
    height: 90px;
    font-weight: 100px;
    border-radius: 5px;
}

thead {
    background-color: rgb(160, 150, 207);
    color: darkblue;
    
}

.jsz {
    background-color: lightgoldenrodyellow;
}

.bsz {
    background-color: rgb(177, 170, 209);
}